[tool.poetry]
authors = ["Maximilian Roos <m@maxroos.com>"]
description = "Write PRQL in dbt models"
homepage = "https://github.com/prql/dbt-prql"
include = ["zzz_dbt_prql.pth"]
license = "Apache-2.0"
name = "dbt-prql"
readme = "README.md"
repository = "https://github.com/prql/dbt-prql"
version = "0.2.1"

[tool.poetry.dependencies]
dbt-core = "~1.1.0"
prql_python = ">=0.2.0"
python = ">=3.7"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.isort]
default_section = "THIRDPARTY"
float_to_top = true
profile = "black"
skip_gitignore = true
